<!--
<div class="header header-fixed" >
  <div class="navbar container" id="nav">
    <div id="Logodisplay" class="logo"><a routerLink="/Home"><img  id="Logo1"  src="https://drive.google.com/uc?export=view&id=16iKC-XJiQD8XKTcQtcyzWF91JDCXVjJv" alt="Lorem Ipsum"></a></div>

    <input type="checkbox" id="navbar-toggle" >
    <label for="navbar-toggle"><i></i></label>
    <nav class="menu stroke" id="hamburger-menu" >
      <ul  class="mymenu"  >
        <li  routerLink="/Articles"> <label  class="go" for="navbar-toggle" >	</label>  <a  id="ac" style="color: #222222"  > <img id="Accueil" alt="Home"    src="https://drive.google.com/uc?export=view&id=1nLzZvRO3TxxO2hijgatHy60_p9PhbdKF" style="padding: 2%"><label class="go" for="navbar-toggle" >Articles</label>  <span class="Go1">Articles</span></a></li>
        <li   routerLink="/Projects"  >	<label class="go" for="navbar-toggle" >	</label><a  style="color: #222222"   ><img id="Fille" alt="Projects"  src="https://drive.google.com/uc?export=view&id=1rSJZQOOcqmUXYrcKqDVo82u-YhhiTTuU" style="padding: 2%"> <label class="go" for="navbar-toggle" >Projects</label><span class="Go1">Projects</span></a>	</li>
        <div class="logo"><a routerLink="/Home"><img style="width: 90%; height: auto"  id="Logo"  src="https://drive.google.com/uc?export=view&id=16iKC-XJiQD8XKTcQtcyzWF91JDCXVjJv" alt="Lorem Ipsum"></a></div>
        <li   routerLink="/About" >		<label class="go" for="navbar-toggle" >	</label>	<a   style="color: #222222"  > <img id="Garçon" alt="About"  src="https://drive.google.com/uc?export=view&id=11iOIwJ3aslPnLq220i0B-jYeB8TxN15D" style="padding: 2%"> <label class="go" for="navbar-toggle" >About</label> <span class="Go1">About</span> </a>		</li>
        <li   routerLink="/Contact"  > <a style="color: #222222"  ><img  id="Lamarque" alt="Contact"   src="https://drive.google.com/uc?export=view&id=1fmLlL1GcBdD_mBZb00fFpaq7gLzU7q4D" style="padding: 2%"><label class="go" for="navbar-toggle" >Contact</label><span class="Go1">Contact</span></a></li>
        <li   routerLink="/Admin"  > <label class="go" for="navbar-toggle" >	</label>	<a   style="color: #222222"  > <img id="EspacePro" alt="Admin"  src="https://drive.google.com/uc?export=view&id=1wctu7r0rtQTZpSUJ7PnEooMxb1hikT_G" style="padding: 2%"> <label class="go" for="navbar-toggle" ></label> <span class="Go1"></span> </a>		</li>
      </ul>
    </nav>
  </div>
</div>

<div class="hline"></div>


!--->
<div id="header-wrapper">

  <header class="clearfix">

    <div id="logo">
      <h1>
        <a href="">
          <img  id="Logo1"  src="https://drive.google.com/uc?export=view&id=1yM5ievFWD2tJl7PfmlrIPz-blRUjFxlJ" alt="Lorem Ipsum">

        </a>
      </h1>
    </div> <!-- #logo -->

    <div id="primary-menu" class="clearfix">
      <div class="left-menu split-menu">
        <ul class="menu">

          <li><a routerLink="/Admin"><i class="fas fa-home"></i>Dashboard</a></li>

          <li><a routerLink="/Scanner"><i class="fas fa-qrcode"></i>Scanner</a></li>

          <li><a routerLink="/About"><i class="fas fa-map"></i>Locations</a></li>
        </ul> <!-- .left-nav -->
      </div>

      <div class="right-menu split-menu">
        <ul class="menu">
          <li><a routerLink="/Schools"><i class="fas fa-graduation-cap" ></i>Schools</a>
          </li>
          <li><a routerLink="/Members"><i class="fas fa-users"></i>Members</a>
          </li>

          <li><a routerLink="/partners"><i class="fas fa-handshake "></i>Partners</a></li>


        </ul>
      </div> <!-- .right-nav -->
    </div> <!-- #primary-menu -->

  </header>

</div> <!-- #header-wrapper -->
