


<div class="text">Locations</div>

<div *ngIf="!user">
  <div class="message">
    This page is restricted. Please log in to continue.
  </div>
<div class="about" *ngIf="user">

<div class="title" >
You can find the vegetalized centers on the map below
</div>
  <div class="content">
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1-r2MlFJ4M65kpZfcIMQ5ujAfySFtMH_l" width="740" height="480"></iframe>
<br>
    <div class="enjoy">
Click on the icons for more informations    </div>
  </div>
</div>
</div>
