<div  *ngIf="project">

 <div class="text">{{project.title}}</div>
  <div class="update" *ngIf="user">
    <span   (click)="toggleShow();scroll(target) " class="glyphicon glyphicon-pencil" > <i class="fas fa-pencil-alt"></i> </span>

  </div>

  <img src="https://drive.google.com/uc?export=view&id={{project.image}}">
  <div class="info">
  <h4>{{project.content}}</h4>
  <h4 id="date">Subscribed until :  {{project.published}}</h4>
  </div>
</div>

<div #target >
<div   class="editbox" *ngIf="Show" >
  <div id="Articledash" >

    <div  class="jumbotron" ><h3 id="editjumb" > It's okay to change your mind sometimes ;)</h3> </div>
    <div class="form-group">
      <label >Title</label>
      <input class="form-control"  [(ngModel)]="project.title">
    </div>
    <div class="form-group">
      <label >Image ID</label>
      <input class="form-control"  [(ngModel)]="project.image">
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Content</label>
      <select class="form-control" id="exampleFormControlTextarea1"  [(ngModel)]="project.content">

        <option value="0">Select member type:</option>
        <option value="Member">Member</option>
        <option value="Volunteer">Volunteer</option>

      </select>
    </div>
    <div class="form-group">
      <label >Date</label>
      <input class="form-control" type="date"  [(ngModel)]="project.published">
      <button  type="submit" id="submitted" class="btn btn-dark sauvegarder" (click)="updateProject();alert()">Update</button>

    </div>

  </div>
</div>
</div>
