
iframe {
  position: relative;
}

.btn-dark {
  padding: 2%;
  text-decoration: none;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 20%;
  text-align: center;
}

.qr {
  margin-bottom: 3%;
}
