
#jumb{
  background-color: #FFFFFF;
  height: auto;

}

.text{
  color: #000000;
  text-align: center;
  font-size: 4vh;
  font-weight: 400;
  margin-top: 1%;
  animation: taadaa 5s;

}

.author{
  color: #000000;
  text-align: center;
  font-size: 2.8vh;
  font-weight: 400;
  margin-top: 1%;

  animation: taadaa 8s;

}


img{
  width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;


}


/* Global */

.line-1{
  position: relative;
  top: 45%;
  width: 40em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */


@media only screen and (max-width: 400px) {
  .text{
    color: #000000;

    font-size: 1vh;
    font-weight: 400;
  }

}

@keyframes taadaa {


  0% {

    opacity: 0;
  }

  100% {

    opacity: 1;
  }
}

@media (min-width:320px) and (max-width: 799px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  img{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;


  }
  .text{
    color: #000000;
    text-align: center;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1%;
    animation: taadaa 5s;

  }
  .author{
    color: #000000;
    text-align: center;
    font-size: 3.5vh;
    font-weight: 400;
    margin-top: 1%;

    animation: taadaa 8s;

  }
  .text{
    display: none;
  }
  .textmobile {
    color: #000000;
    text-align: center;
    font-size: 3vh;
    font-weight: 400;
    margin-top: 1%;
    animation: taadaa 5s;
  }
}

@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
.textmobile{
  display: none;
}
}
